<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="WebSite" />
    <meta name="author" content="Ernestas Kuke" />
    <meta name="description" content="WebSite Generator" />
    <meta name="keywords" content="WebSite, Web, Web-Dev, Development, HTML, CSS" />
    <title>DnD app</title>
    <link rel="icon" type="image/x-icon" href="images/">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'javascript/app.js' %}"></script>
  </head>
  <body>

    <header>

        <!-- Navigation -->
        <nav>
          <div class="nav">
            <div class="nav-burger">
              <p>Menu</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>              
            </div>
          </div>
            
            <div class="nav-menu">

              <div class="menu-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>                
              </div>


              <div class="nav-menu-container">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'character-list' %}">My characters</a></li>
                  <li><a href="{% url 'monster-list' %}">My monster list</a></li>
                  {% endif %}
                  <li><a href="#">Beastiary</a></li>
                  <li><a href="#">Races</a></li>
                  <li><a href="#">Classes</a></li>
                </ul>
              </div>
            </div>

        </nav>

        <!-- Logo and login -->
        <section class="logo margin">
          <a href="{% url 'home' %}"><img src="{% static 'img/DnD_logo.png' %}" alt="Dungeons and Dragons logo"></a>
          <p>Database, Character creator, Character sheet - all in one</p>
          <ul>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z"
                          clip-rule="evenodd"/>
                </svg>{{ user.get_username }}
              </a>
            </li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
        </section>

    </header>

    <main class="margin">
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      
    </footer>
  </body>
</html>